*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:bla ;

}
.container{
    background-color: whitesmoke;
    width: 500px;
    height: 200px;
    border-radius: 30px;
      display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 20px rgb(41, 40, 40);
}
.content{
    width: 500px;
    height: 100px;

}
.content i{
    font-size: 40px;
    color: gray;
    cursor: pointer;
    transition: color 0.5s ease;
}
.content i.active{
    color: gold;
}